.wrapper {
    background-color: #f7f7f8;
    margin: 0;
    padding: 30px;
}

.cardContainer {
    display: flex;
}

.heading {
    margin: 0;
    padding: 20px;
    color: #253648;
}

.insight-card {
    /* display: flex; */
    width: 100%;
    margin: 4px;
    padding: 16px;
    color: #253648;
    background-color: white;
    box-shadow: 4px 4px 10px 4px #eeeff1;
    border-radius: 8px;
    list-style-type: none;
    font-size: 14px;
}

.insight-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
}

.insight-header {
    margin-bottom: 4px;
}

.insight-text {
    margin-top: 4px;
}
